<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.mapper.db2.MesInfoMapper">

  <resultMap id="prodLineProdReport" type="com.seer.panel.model.ProdLineProdReport">
    <result column="PRODUCTIONLINE" property="productionLine" jdbcType="VARCHAR"/>
    <result column="PLANNEDPRODUCTION" property="plannedProduction" jdbcType="INTEGER"/>
    <result column="PRODLINEPRODNUM" property="prodLineProdNum" jdbcType="INTEGER"/>
    <result column="PRODLINEPRODPERCENT" property="prodLineProdPercent" jdbcType="DOUBLE"/>
  </resultMap>

  <select id="getProdLineProdReport" resultMap="prodLineProdReport">
    select pwc.name productionLine, Z.qty plannedProduction, X.finsh_total prodLineProdNum, round((X.finsh_total/Z.qty) * 100,2) prodLineProdPercent
    from pmbf_work_center pwc
    left join PMBF_LOCATION PML on PML.gid=pwc.location_gid
    left join
    (
    select
    uto.work_center_gid,
    sum(uto.plan_qty) as qty
    from UEX_VTRACK_RECORD uto
    <![CDATA[
    where ( uto.planned_start_time >= to_date('2018-06-13 00:00:00','yyyy-mm-dd hh24:mi:ss')
    and uto.planned_start_time <=  to_date('2018-06-13 23:59:59','yyyy-mm-dd hh24:mi:ss')) and uto.is_close=0 and uto.is_delete=0 and uto.is_active=0
    ]]>
    group by work_center_gid
    )  Z on z.work_center_gid = pwc.gid

    left join
    (
    select
    work_center_gid,
    sum(udi.effective_qty) as finsh_total
    from UEX_DAQ_INFO udi
    where udi.is_delete=0 and  (udi.operate_type=4 or  udi.operate_type=3)
    <![CDATA[
    and udi.daq_date >= to_date('2018-06-13 8:00:00','yyyy-mm-dd hh24:mi:ss') and udi.daq_date <= to_date('2018-06-14 7:59:59','yyyy-mm-dd hh24:mi:ss')
    ]]>
    group by udi.work_center_gid
    )  X on X.work_center_gid= pwc.gid
    where pwc.name = CONCAT('B','线') AND PML.name = '东城智能车间'  order by PML.NAME DESC, pwc.name asc
  </select>

</mapper>
