<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.mapper.db1.ChartMapper">

  <resultMap id="machineInfoList" type="com.seer.panel.model.MachineInfo">
    <result column="machineCode" property="machineCode" jdbcType="VARCHAR"/>
    <result column="machineName" property="machineName" jdbcType="VARCHAR"/>
    <result column="factory" property="factory" jdbcType="VARCHAR"/>
    <result column="worksShop" property="worksShop" jdbcType="VARCHAR"/>
    <result column="poductLine" property="poductLine" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="occurrenceTime" property="occurrenceTime" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="productLineStatus" type="com.seer.panel.model.ProductLineStatus">
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="stop" property="stop" jdbcType="INTEGER"/>
    <result column="runing" property="runing" jdbcType="INTEGER"/>
    <result column="wait" property="wait" jdbcType="INTEGER"/>
    <result column="alarm" property="alarm" jdbcType="INTEGER"/>
  </resultMap>

  <!--产线机床信息-->
  <select id="getFactoryProductLine" resultType="com.seer.panel.model.FactoryProductLine">
    SELECT mac.factory ,mac.worksShop ,mac.productionLine ,mac.cncSystem
    FROM machineinfo mac with(nolock)
    WHERE mac.useStatus = 1
    GROUP BY mac.factory ,mac.worksShop ,mac.productionLine ,mac.cncSystem
  </select>

  <!--本周机器稼动时长排行  本周机器生产力-->
  <!--排序 设备名 工作时长(minute) 生产量-->
  <select id="getMachineProductReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.MachineProductReport">
    SELECT TOP 10 ROW_NUMBER() OVER (order by macPSH.macWorkTime DESC) rank ,mac.machineName ,(macPSH.macWorkTime/60)macWorkTime ,macPSH.macProdNum
    FROM machineinfo mac with(nolock)
    LEFT JOIN(
      SELECT macSH.machineCode , SUM(datediff(SECOND,macSH.startTime,macSH.endTime)) macWorkTime ,COUNT(1) macProdNum
      from machinestatushistory macSH with(nolock)
      WHERE macSH.status = 1 AND macSH.startTime IS NOT NULL AND macSH.endTime IS NOT NULL
      AND CONVERT(varchar(100),macSH.startTime,23) BETWEEN CONVERT(varchar(100),DATEADD(DAY,-8, GETDATE()),23) AND CONVERT(varchar(100),DATEADD(DAY ,-1, GETDATE()), 23)
      GROUP BY macSH.machineCode
    ) macPSH ON mac.machineCode = macPSH.machineCode
    WHERE mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    ORDER BY macPSH.macWorkTime DESC
  </select>

  <!--产线机床信息-->
  <select id="getProductLineMachineStatusReport" parameterType="com.seer.panel.view.ProductLineDTO"
    statementType="CALLABLE" resultMap="machineInfoList , productLineStatus">
    EXEC up_GetLineMachineStatus @cLine = #{productionLine}, @cWorksShop = #{worksShop}
  </select>

  <!--刀具寿命统计-->
  <select id="getProductLineKnifeLifeencyCount" parameterType="com.seer.panel.view.ProductLineDTO"
    statementType="CALLABLE" resultType="com.seer.panel.model.ProductLineKnifeLifeencyCount">
    EXEC sbd_pro_toollife_query @factory=#{factory}, @cLine=#{productionLine}
  </select>

  <!--15min内报警信息-->
  <select id="getProductLineAlarmReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.ProductLineAlarmReport">
    SELECT TOP 6 mac.machineName ,convert(varchar(100), macPArm.alarmMsg) alarmMsg ,macPArm.knifeNum ,macPArm.occurrenceTime
    FROM machineinfo mac with(nolock)
    INNER JOIN(
      select macArm.machineCode ,macArm.alarmMsg ,macArm.knifeNum ,MIN(macArm.occurrenceTime) occurrenceTime
      FROM machinealarmhistory macArm with(nolock)
      LEFT JOIN machinestatus macSta with(nolock) ON macSta.machineCode = macArm.machineCode
      WHERE ASCII(macArm.alarmMsg) > 0 AND macSta.status = 3 AND macSta.updateTime > DATEADD(MINUTE, -30, GETDATE())
      AND macArm.occurrenceTime BETWEEN DATEADD(MINUTE, -15, GETDATE()) AND GETDATE()
      GROUP BY macArm.machineCode ,macArm.alarmMsg ,macArm.knifeNum
    ) macPArm ON mac.machineCode = macPArm.machineCode
    WHERE mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    ORDER BY macPArm.occurrenceTime DESC
  </select>

  <!--刀具寿命预警-->
  <select id="getKnifeLifencyWarningReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.KnifeLifencyWarningReport">
    SELECT TOP 10 mac.machineName ,macKni.knifePosition ,macKni.totalCount ,macKni.currentCount ,macKni.surplusCount
    FROM machineinfo mac with(nolock)
    INNER JOIN(
      SELECT kni.machineCode ,kni.knifePosition
      ,(CASE WHEN kni.totalCount IS NULL THEN 3000 WHEN 1 > kni.totalCount THEN 3000 ELSE kni.totalCount END) totalCount
      ,(CASE WHEN kniL.currentCount IS NULL THEN 0 ELSE kniL.currentCount END) currentCount
      ,((CASE WHEN kni.totalCount IS NULL THEN 3000 WHEN 1 > kni.totalCount THEN 3000 ELSE kni.totalCount END) - (CASE WHEN kniL.currentCount is NULL THEN 0 ELSE kniL.currentCount END))surplusCount
      FROM knifeinfo kni with(nolock)
      LEFT JOIN knifelife kniL ON kniL.machineCode = kni.machineCode AND kniL.knifeNum = kni.knifePosition
      WHERE kni.status = 1
    ) macKni ON mac.machineCode = macKni.machineCode
    WHERE mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    ORDER BY macKni.surplusCount
  </select>


  <!--周内各刀经断刀频次-->
  <select id="getKnifeBrokenReportByDiameter" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.KnifeBrokenReportByDiameter">
    SELECT mac.productionLine ,bkd.knifeDiameter ,COUNT (1) brokenNum
    FROM dbo.brokenknifedetail bkd with(nolock)
    JOIN machineinfo mac with(nolock) on mac.machineCode = bkd.machineCode
    WHERE
      CONVERT(varchar(100),bkd.brokenTime,23) BETWEEN CONVERT(varchar(100),DATEADD(DAY,-8, GETDATE()),23) AND CONVERT(varchar(100),DATEADD(DAY ,-1, GETDATE()), 23)
      AND mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    GROUP BY mac.productionLine ,bkd.knifeDiameter
    ORDER BY bkd.knifeDiameter
  </select>

  <!--周内各刀位断刀频次-->
  <select id="getKnifeBrokenReportByPosition" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.KnifeBrokenReportByPosition">
    SELECT mac.productionLine ,bkd.knifeNum ,COUNT (1) brokenNum
    FROM dbo.brokenknifedetail bkd with(nolock)
    JOIN machineinfo mac with(nolock) on mac.machineCode = bkd.machineCode
    WHERE CONVERT(varchar(100),bkd.brokenTime,23)
      BETWEEN CONVERT(varchar(100),DATEADD(DAY,-8, GETDATE()),23) AND CONVERT(varchar(100),DATEADD(DAY ,-1, GETDATE()), 23)
      AND mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    GROUP BY mac.productionLine ,bkd.knifeNum
    ORDER BY bkd.knifeNum;
  </select>

  <!--当天生产数量-->
  <select id="getProdLineProdReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="java.lang.Integer">
    SELECT COUNT(1) prodLineProdNum
    from machinestatushistory macSH with(nolock)
    LEFT JOIN machineinfo mac ON mac.machineCode = macSH.machineCode
    WHERE macSH.status = 1 AND macSH.startTime IS NOT NULL AND macSH.endTime IS NOT NULL
      AND CONVERT(varchar(100),macSH.startTime,23)  = CONVERT(varchar(100),GETDATE(), 23)
      AND mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    GROUP BY mac.productionLine
  </select>

</mapper>
