<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.mapper.db1.ChartMapper">

  <resultMap id="machineInfoList" type="com.seer.panel.model.MachineInfo">
    <result column="machineCode" property="machineCode" jdbcType="VARCHAR"/>
    <result column="machineName" property="machineName" jdbcType="VARCHAR"/>
    <result column="factory" property="factory" jdbcType="VARCHAR"/>
    <result column="worksShop" property="worksShop" jdbcType="VARCHAR"/>
    <result column="poductLine" property="poductLine" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="occurrenceTime" property="occurrenceTime" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="productLineStatus" type="com.seer.panel.model.ProductLineStatus">
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="stop" property="stop" jdbcType="INTEGER"/>
    <result column="runing" property="runing" jdbcType="INTEGER"/>
    <result column="wait" property="wait" jdbcType="INTEGER"/>
    <result column="alarm" property="alarm" jdbcType="INTEGER"/>
  </resultMap>

  <!--产线机床信息-->
  <select id="getFactoryProductLine" resultType="com.seer.panel.model.FactoryProductLine">
    SELECT mac.factory ,mac.worksShop ,mac.productionLine ,mac.cncSystem
    FROM machineinfo mac with(nolock)
    WHERE mac.useStatus = 1
    GROUP BY mac.factory ,mac.worksShop ,mac.productionLine ,mac.cncSystem
  </select>

  <!--本周机器稼动时长排行  本周机器生产力-->
  <!--排序 设备名 工作时长(minute) 生产量-->
  <select id="getMachineProductReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.MachineProductReport">
    SELECT ROW_NUMBER() OVER (order by macPSH.macWorkTime DESC) rank ,mac.machineName ,(macPSH.macWorkTime/60)macWorkTime ,macPSH.macProdNum
    FROM machineinfo mac with(nolock)
    LEFT JOIN(
      SELECT macSH.machineCode , SUM(datediff(SECOND,macSH.startTime,macSH.endTime)) macWorkTime ,COUNT(1) macProdNum
      from machinestatushistory macSH with(nolock)
      WHERE macSH.status = 1 AND macSH.startTime IS NOT NULL AND macSH.endTime IS NOT NULL
      AND CONVERT(varchar(100),macSH.startTime,23) BETWEEN CONVERT(varchar(100),DATEADD(DAY,-8, GETDATE()),23) AND CONVERT(varchar(100),DATEADD(DAY ,-1, GETDATE()), 23)
      GROUP BY macSH.machineCode
    ) macPSH ON mac.machineCode = macPSH.machineCode
    WHERE mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    ORDER BY macPSH.macWorkTime DESC
  </select>

  <!--产线机床信息-->
  <select id="getProductLineMachineStatusReport" parameterType="com.seer.panel.view.ProductLineDTO"
    statementType="CALLABLE" resultMap="machineInfoList , productLineStatus">
    exec up_GetLineMachineStatus @cLine = #{productionLine}, @cWorksShop = #{worksShop}
  </select>

  <!--15min内报警信息-->
  <select id="getProductLineAlarmReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.ProductLineAlarmReport">
    SELECT mac.machineName ,convert(varchar(100), macPArm.alarmMsg) alarmMsg ,macPArm.knifeNum ,macPArm.occurrenceTime
    FROM machineinfo mac with(nolock)
    INNER JOIN(
      select macArm.machineCode ,macArm.alarmMsg ,macArm.knifeNum ,MIN(macArm.occurrenceTime) occurrenceTime
      FROM machinealarmhistory macArm with(nolock)
      WHERE ASCII(macArm.alarmMsg) > 0
      AND macArm.occurrenceTime BETWEEN DATEADD(MINUTE, -15, GETDATE()) AND GETDATE()
      GROUP BY macArm.machineCode ,macArm.alarmMsg ,macArm.knifeNum
    ) macPArm ON mac.machineCode = macPArm.machineCode
    WHERE mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    ORDER BY macPArm.occurrenceTime DESC
  </select>

  <!--刀具寿命预警-->
  <select id="getKnifeLifencyWarningReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.KnifeLifencyWarningReport">
    SELECT mac.machineName ,macKni.knifePosition ,macKni.totalCount ,macKni.currentCount
    FROM machineinfo mac with(nolock)
    INNER JOIN(
      SELECT kni.machineCode ,kni.knifePosition ,kni.totalCount ,kniL.currentCount
      FROM knifeinfo kni with(nolock)
      LEFT JOIN knifelife kniL with(nolock) ON kniL.machineCode = kni.machineCode AND kniL.knifeNum = kni.knifePosition
      WHERE kni.status = 1
    ) macKni ON mac.machineCode = macKni.machineCode
    WHERE mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    ORDER BY macKni.machineCode ,macKni.knifePosition
  </select>


  <!--周内各刀经断刀频次-->
  <select id="getKnifeBrokenReportByDiameter" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.KnifeBrokenReportByDiameter">
  select mac.productionLine ,broH.knifeDiameter ,COUNT(1) as brokenNum
  from brokenhistory broH with(nolock)
  join machineinfo mac with(nolock) on mac.machineCode = broH.machineCode
  where broH.bBroken=1 AND CONVERT(varchar(100),broH.brokenTime,23)
    BETWEEN CONVERT(varchar(100),DATEADD(DAY,-8, GETDATE()),23) AND CONVERT(varchar(100),DATEADD(DAY ,-1, GETDATE()), 23)
    AND mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
  group by mac.productionLine,broH.knifeDiameter
  order by broH.knifeDiameter
  </select>

  <!--周内各刀位断刀频次-->
  <select id="getKnifeBrokenReportByPosition" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="com.seer.panel.model.KnifeBrokenReportByPosition">
  select mac.productionLine ,broH.knifeNum ,COUNT(1) as brokenNum
  from brokenhistory broH with(nolock)
  join machineinfo mac with(nolock) on mac.machineCode = broH.machineCode
  where broH.bBroken=1 AND CONVERT(varchar(100),broH.brokenTime,23)
    BETWEEN CONVERT(varchar(100),DATEADD(DAY,-8, GETDATE()),23) AND CONVERT(varchar(100),DATEADD(DAY ,-1, GETDATE()), 23)
    AND mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
  group by mac.productionLine,broH.knifeNum
  order by broH.knifeNum
  </select>

  <!--当天生产数量-->
  <select id="getProdLineProdReport" parameterType="com.seer.panel.view.ProductLineDTO"
    resultType="java.lang.Integer">
    SELECT COUNT(1) prodLineProdNum
    from machinestatushistory macSH with(nolock)
    LEFT JOIN machineinfo mac ON mac.machineCode = macSH.machineCode
    WHERE macSH.status = 1 AND macSH.startTime IS NOT NULL AND macSH.endTime IS NOT NULL
      AND CONVERT(varchar(100),macSH.startTime,23)  = CONVERT(varchar(100),GETDATE(), 23)
      AND mac.factory = #{factory} AND mac.worksShop = #{worksShop} AND mac.productionLine = #{productionLine} AND mac.useStatus = 1
    GROUP BY mac.productionLine
  </select>

</mapper>
