<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.dao.CountDao">

    <insert id="addCount" parameterType="com.seer.panel.bean.Count">
        INSERT INTO count
        <trim prefix="(" suffix=")" suffixOverrides=",">
            record_id,
                <if test="userId != null">
                    user_id,
                </if>
                <if test="num != null">
                    num,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{countId},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="num != null">
                    #{num},
                </if>
        </trim>
    </insert>

    <update id="updateCountById" parameterType="com.seer.panel.bean.Count">
        update count
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    user_id =#{userId},
                </if>
                <if test="num != null">
                    num =#{num},
                </if>
        </trim>
        where record_id = #{countId}
    </update>

    <select id="selectCountList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select
            user_id userId,
            num num,
        record_id countId
        from count
        WHERE
        1=1
        <if test="countId != null">
            and record_id = #{countId}
        </if>
        <if test="userId != null">
            and user_id like #{userId}
        </if>
        <if test="num != null">
            and num = #{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <delete id="delCountById" parameterType="java.lang.Integer">
        DELETE FROM  count
        where
        record_id = #{countId}
    </delete>

</mapper>
