<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.dao.CuttersrawdataDao">

    <insert id="addCuttersrawdata" parameterType="com.seer.panel.bean.Cuttersrawdata">
        INSERT INTO cuttersrawdata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            record_id,
                <if test="userId != null">
                    user_id,
                </if>
                <if test="num != null">
                    num,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{cuttersrawdataId},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="num != null">
                    #{num},
                </if>
        </trim>
    </insert>

    <update id="updateCuttersrawdataById" parameterType="com.seer.panel.bean.Cuttersrawdata">
        update cuttersrawdata
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    user_id =#{userId},
                </if>
                <if test="num != null">
                    num =#{num},
                </if>
        </trim>
        where record_id = #{cuttersrawdataId}
    </update>

    <select id="selectCuttersrawdataList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select
            user_id userId,
            num num,
        record_id cuttersrawdataId
        from cuttersrawdata
        WHERE
        1=1
        <if test="cuttersrawdataId != null">
            and record_id = #{cuttersrawdataId}
        </if>
        <if test="userId != null">
            and user_id like #{userId}
        </if>
        <if test="num != null">
            and num = #{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <delete id="delCuttersrawdataById" parameterType="java.lang.Integer">
        DELETE FROM  cuttersrawdata
        where
        record_id = #{cuttersrawdataId}
    </delete>

</mapper>
