<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.dao.KnifeorderDao">

    <insert id="addKnifeorder" parameterType="com.seer.panel.bean.Knifeorder">
        INSERT INTO knifeorder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            record_id,
                <if test="userId != null">
                    user_id,
                </if>
                <if test="num != null">
                    num,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{knifeorderId},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="num != null">
                    #{num},
                </if>
        </trim>
    </insert>

    <update id="updateKnifeorderById" parameterType="com.seer.panel.bean.Knifeorder">
        update knifeorder
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    user_id =#{userId},
                </if>
                <if test="num != null">
                    num =#{num},
                </if>
        </trim>
        where record_id = #{knifeorderId}
    </update>

    <select id="selectKnifeorderList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select
            user_id userId,
            num num,
        record_id knifeorderId
        from knifeorder
        WHERE
        1=1
        <if test="knifeorderId != null">
            and record_id = #{knifeorderId}
        </if>
        <if test="userId != null">
            and user_id like #{userId}
        </if>
        <if test="num != null">
            and num = #{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <delete id="delKnifeorderById" parameterType="java.lang.Integer">
        DELETE FROM  knifeorder
        where
        record_id = #{knifeorderId}
    </delete>

</mapper>
