<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.dao.KnifelifeDao">

    <insert id="addKnifelife" parameterType="com.seer.panel.bean.Knifelife">
        INSERT INTO knifelife
        <trim prefix="(" suffix=")" suffixOverrides=",">
            record_id,
                <if test="userId != null">
                    user_id,
                </if>
                <if test="num != null">
                    num,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{knifelifeId},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="num != null">
                    #{num},
                </if>
        </trim>
    </insert>

    <update id="updateKnifelifeById" parameterType="com.seer.panel.bean.Knifelife">
        update knifelife
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    user_id =#{userId},
                </if>
                <if test="num != null">
                    num =#{num},
                </if>
        </trim>
        where record_id = #{knifelifeId}
    </update>

    <select id="selectKnifelifeList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select
            user_id userId,
            num num,
        record_id knifelifeId
        from knifelife
        WHERE
        1=1
        <if test="knifelifeId != null">
            and record_id = #{knifelifeId}
        </if>
        <if test="userId != null">
            and user_id like #{userId}
        </if>
        <if test="num != null">
            and num = #{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <delete id="delKnifelifeById" parameterType="java.lang.Integer">
        DELETE FROM  knifelife
        where
        record_id = #{knifelifeId}
    </delete>

</mapper>
