<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.dao.MachinestatusDao">

    <insert id="addMachinestatus" parameterType="com.seer.panel.bean.Machinestatus">
        INSERT INTO machinestatus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            record_id,
                <if test="userId != null">
                    user_id,
                </if>
                <if test="num != null">
                    num,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{machinestatusId},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="num != null">
                    #{num},
                </if>
        </trim>
    </insert>

    <update id="updateMachinestatusById" parameterType="com.seer.panel.bean.Machinestatus">
        update machinestatus
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    user_id =#{userId},
                </if>
                <if test="num != null">
                    num =#{num},
                </if>
        </trim>
        where record_id = #{machinestatusId}
    </update>

    <select id="selectMachinestatusList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select
            user_id userId,
            num num,
        record_id machinestatusId
        from machinestatus
        WHERE
        1=1
        <if test="machinestatusId != null">
            and record_id = #{machinestatusId}
        </if>
        <if test="userId != null">
            and user_id like #{userId}
        </if>
        <if test="num != null">
            and num = #{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <delete id="delMachinestatusById" parameterType="java.lang.Integer">
        DELETE FROM  machinestatus
        where
        record_id = #{machinestatusId}
    </delete>

</mapper>
