<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seer.panel.dao.UsersDao">

    <insert id="addUsers" parameterType="com.seer.panel.bean.Users">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            record_id,
                <if test="userId != null">
                    user_id,
                </if>
                <if test="num != null">
                    num,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{usersId},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="num != null">
                    #{num},
                </if>
        </trim>
    </insert>

    <update id="updateUsersById" parameterType="com.seer.panel.bean.Users">
        update users
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    user_id =#{userId},
                </if>
                <if test="num != null">
                    num =#{num},
                </if>
        </trim>
        where record_id = #{usersId}
    </update>

    <select id="selectUsersList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select
            user_id userId,
            num num,
        record_id usersId
        from users
        WHERE
        1=1
        <if test="usersId != null">
            and record_id = #{usersId}
        </if>
        <if test="userId != null">
            and user_id like #{userId}
        </if>
        <if test="num != null">
            and num = #{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <delete id="delUsersById" parameterType="java.lang.Integer">
        DELETE FROM  users
        where
        record_id = #{usersId}
    </delete>

</mapper>
